:root {
  --bg-color: #C0C0C0;
  --dark-border: #808080;
  --light-border: #FFF;
}

body{
  background-color: var(--bg-color);
  font: 14px verdana, helvetica, arial, sans-serif;
}
h2{
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 14px;
}
.column{
  float: left;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
table, .menu-container{
  empty-cells: show;
  padding: 0;
  border: 2px solid var(--dark-border);
  border-right-color: var(--light-border);
  border-bottom-color: var(--light-border);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-container{
  margin: 0 10px 10px 0;
  padding: 5px 5px 0 5px;
  width: 245px;
}

td div{
  font: bold 15px "Courier New", Courier, monospace;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 12px;
  width: 12px;
  background-color: var(--bg-color);
  border: 2px solid var(--light-border);
  border-right-color: var(--dark-border);
  border-bottom-color: var(--dark-border);
  cursor: pointer;
}
#timer, #restart, #covered-squares, #total-bombs, #bombs-left, #width, #height, #number-of-bombs, #non-bombs, #rows, #ratio{
  background-color: var(--bg-color);
  border: 2px solid var(--light-border);
  border-right-color: var(--dark-border);
  border-bottom-color: var(--dark-border);
  color: red;
  font: bold 14px verdana;
  text-align: center;
  margin: 0 0 5px 0;
}
dl{
  display: flex;
  flex-wrap: wrap;
}
dt, dd{
  box-sizing: border-box;
  flex: 1 50%;
  margin: 0;
  padding: 2px 0;
}
#restart{
  color: black;
  cursor: pointer;
  width: 100%;
}

#board-container {
  margin-bottom: 200px;
}

td {
  padding: 0;
}
td div.empty, td div.bomb{
  height: 15px;
  width: 15px;
  border: solid var(--dark-border);
  border-width: 1px 0 0 1px;
}
td div.one {   color: #0b24fb;}
td div.two {   color: #0f7f12;}
td div.three { color: #fc0d1b;}
td div.four {  color: #020c7e;}
td div.five {  color: #7e0308;}
td div.six {   color: #11807f;}
td div.seven { color: #000;}
td div.eight { color: #808080;}

td div.flag{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEUAAAAAAAAAAAD5Fij5JSj8DRv///+7GxzaAAAAAnRSTlMAAQGU/a4AAABKSURBVHjalc5RCgAgCETB0rz/lTMMjQLd3k+wA1L7r2vrHZotrCXgJEcVGDLHjEIkkoBHdH4Vg+6hEBMKcQwB2tlYAV1l8GanUphpTQJ5ICN5UQAAAABJRU5ErkJggg==) center / contain no-repeat;
}
td div.bomb{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAEhJREFUeAG90kEKgCAARNGe9z90qzKmzSTSLITPE1ce+8c6AytMnj3zJOj5Cpjdc1bPQFTJ7sXjBcMYeeEL8y/PvbHn/n9u3QmBmQDxT88mtAAAAABJRU5ErkJggg==) center / contain no-repeat;
}
td div.exploded {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAIVBMVEUAAAD8DRv/AADAwMD5Fij76Df8DRv8iA386g3/AAD///+Z6rjOAAAAA3RSTlMAAAD6dsTeAAAAqElEQVR4AZXR0arEIAyE4XY4jvvv+z/wQcWmQRQ2Fzr1i6L0+qm0LtmR8bJuYjMEwxNGp5lLtPLDMGddkpT4EsB9Q60gjXni3KfETtzgPebHnVmCUmr9fGotBZR14bfTq+H32xrWZ62Mhg4a2Ko1jJbO9o4Vd9scvmM7tOPh3UcGmPcfo16uI89bSj3JTr/Etq/gO3M+RS2ZHd8HVmTzt3Bks7A2X4f6B+rcDM9d5aG+AAAAAElFTkSuQmCC) center / contain no-repeat;
}
.invalid td div{
  background-color: #9A77A8;
  border-top-color: #C19ECF;
  border-right-color: #734F80;
  border-bottom-color: #734F80;
  border-left-color: #C19ECF;
}
.invalid td div.empty{
  border-color: #734F80;
}
